/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  color: #000; }

#sec1-main-cont {
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }
  #sec1-main-cont .main-cover {
    width: 100%;
    height: 100%;
    position: relative; }
  #sec1-main-cont nav {
    width: 100%;
    height: 7rem;
    position: relative; }
    #sec1-main-cont nav .main-ul {
      font-family: "Varela Round", sans-serif;
      display: flex;
      flex-direction: row;
      margin: 0 0 0 6rem;
      padding: 0;
      height: 7rem; }
      #sec1-main-cont nav .main-ul li {
        height: 7rem;
        display: flex; }
        #sec1-main-cont nav .main-ul li a {
          text-decoration: none;
          margin: 0;
          padding: 0;
          color: #fff;
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 0 2rem 0 2rem; }
          #sec1-main-cont nav .main-ul li a:hover div.underline {
            width: 100%; }
          #sec1-main-cont nav .main-ul li a p {
            margin: 0;
            padding: 0;
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-top: 2.9rem;
            font-weight: 500; }
          #sec1-main-cont nav .main-ul li a div.underline {
            display: block;
            text-align: center;
            height: 0.2rem;
            width: 0;
            background-color: #fff;
            transition: 0.3s;
            margin-top: 0.7rem; }
  #sec1-main-cont .title-cont {
    width: 46vw;
    height: 40rem;
    margin: 20vh 0 0 8rem; }
    #sec1-main-cont .title-cont .top-title {
      font-family: "Raleway", sans-serif;
      font-size: 9rem;
      text-transform: uppercase;
      font-weight: 800;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem; }
    #sec1-main-cont .title-cont .sub-title {
      font-family: "Raleway", sans-serif;
      font-size: 2.4rem;
      font-weight: 300;
      color: #dedede;
      margin-bottom: 3.6rem; }

.main-button {
  width: 16rem;
  height: 3.6rem; }
  .main-button a {
    display: flex;
    text-decoration: none;
    width: 16rem;
    height: 3.6rem;
    color: #fff;
    background-color: #335145;
    transition: 0.2s; }
    .main-button a:hover {
      background-color: #A6C36F; }
    .main-button a p {
      margin: auto;
      padding: 0;
      text-transform: uppercase;
      font-family: "Varela Round", sans-serif;
      font-size: 1.6rem; }

.pauseline {
  height: 0.5rem;
  width: 10rem;
  background-color: #335145; }

#sec2-work-specify {
  width: 100%;
  min-height: 46rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee; }
  #sec2-work-specify .sec-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 8rem 0 4rem 0; }
  #sec2-work-specify .offer-desc {
    font-family: "Raleway", sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    color: #282828;
    margin: 4rem 0 4rem 0;
    max-width: 120rem; }
  #sec2-work-specify .offer-box {
    display: flex;
    flex-direction: row;
    padding: 2rem 0 4rem 0; }
    #sec2-work-specify .offer-box .ob-item {
      width: 32rem;
      height: 26rem;
      margin: 1rem;
      background-color: #fff;
      position: relative;
      display: flex;
      flex-direction: column;
      color: #000;
      text-decoration: none;
      box-sizing: border-box;
      padding: 3rem; }
      #sec2-work-specify .offer-box .ob-item div.underline {
        display: block;
        text-align: center;
        height: 0.3rem;
        width: 0;
        background-color: #A6C36F;
        transition: 0.3s;
        margin-top: 0.7rem; }
      #sec2-work-specify .offer-box .ob-item:hover div.underline {
        width: 100%; }
      #sec2-work-specify .offer-box .ob-item .ob-title {
        text-transform: uppercase;
        font-size: 2.2rem;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        position: relative; }
      #sec2-work-specify .offer-box .ob-item .ob-desc {
        font-size: 1.4rem;
        font-family: "Varela Round", sans-serif;
        font-weight: 100;
        color: #282828;
        position: relative;
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap; }
      #sec2-work-specify .offer-box .ob-item .ob-button {
        width: 12rem;
        height: 3.6rem;
        background-color: #335145;
        position: absolute;
        left: 3rem;
        bottom: 3rem;
        display: flex;
        transition: 0.2s; }
        #sec2-work-specify .offer-box .ob-item .ob-button:hover {
          background-color: #A6C36F; }
        #sec2-work-specify .offer-box .ob-item .ob-button a {
          margin: 0;
          width: 12rem;
          height: 3.6rem;
          position: relative;
          color: #fff;
          text-decoration: none;
          display: flex; }
          #sec2-work-specify .offer-box .ob-item .ob-button a p {
            margin: auto;
            text-transform: uppercase;
            font-family: "Varela Round", sans-serif;
            font-size: 1.6rem; }

#sec3-about {
  width: 100%;
  height: 80rem;
  background-image: url("../images/manhattan.jpg");
  background-size: cover; }
  #sec3-about .about-cover {
    width: 100%;
    height: 100%;
    background: linear-gradient(#eeeeee, rgba(238, 238, 238, 0.8));
    background: -webkit-linear-gradient(#eeeeee, rgba(238, 238, 238, 0.8));
    background: -moz-linear-gradient(#eeeeee, rgba(238, 238, 238, 0.8));
    padding-top: 6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #sec3-about .about-cover .about-box {
      width: 120rem;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center; }
      #sec3-about .about-cover .about-box .about-cont {
        width: 70rem;
        height: 54rem;
        border: 2rem solid #fff;
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column; }
        #sec3-about .about-cover .about-box .about-cont .upper-title {
          font-family: "Raleway", sans-serif;
          font-size: 2.4rem;
          font-weight: 300;
          color: #282828;
          margin: 4rem 0 0 4rem; }
        #sec3-about .about-cover .about-box .about-cont .upper-motto {
          font-family: "Raleway", sans-serif;
          font-weight: 700;
          font-size: 4rem;
          text-transform: uppercase;
          margin: 1rem 0 0 4rem; }
        #sec3-about .about-cover .about-box .about-cont .about-desc {
          margin: 2.4rem 0 0 4rem;
          width: 60rem;
          font-size: 1.4rem;
          font-family: "Varela Round", sans-serif;
          font-weight: 100;
          color: #282828;
          position: relative;
          display: flex;
          flex-wrap: wrap; }
      #sec3-about .about-cover .about-box .about-photo {
        width: 50rem;
        height: 62rem;
        background-image: url("../images/jonna.jpg");
        background-size: cover;
        background-position: center;
        margin-left: -4rem; }

/*# sourceMappingURL=main.css.map */
