html{
  font-size: 62.5%;
}
body{
  @include zero;
  color: #000;

}
#sec1-main-cont{
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  // background-image: url('../images/notes2.jpg');
  // background-size: cover;
  // background-position: bottom;
  .main-cover{
    width: 100%;
    height: 100%;
    // background-color: rgba(0, 0, 0, 0.5);
    position: relative;
  }
  nav{
    width: 100%;
    height: $nav;
    position: relative;
    .main-ul{
      font-family: $varela;
      display: flex;
      flex-direction: row;
      margin: 0 0 0 6rem;
      // background-color: green;
      padding: 0;
      height: $nav;
      li{
        height: $nav;
        display: flex;
        a{
          text-decoration: none;
          @include zero;
          color: #fff;
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 0 2rem 0 2rem;
          &:hover{
            div.underline{
              width: 100%;
            }
          }
          p{
            @include zero;
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-top: 2.9rem;
            font-weight: 500;

          }
          div.underline{
              display: block;
              text-align: center;
              height: 0.2rem;
              width: 0;
              background-color: #fff;
              transition: 0.3s;
              margin-top: 0.7rem;
            }
        }
      }
    }
  }
  .title-cont{
    width: 46vw;
    height: 40rem;
    margin: 20vh 0 0 8rem;
    .top-title{
      font-family: $way;
      font-size: 9rem;
      text-transform: uppercase;
      font-weight: 800;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
    }
    .sub-title{
      font-family: $way;
      font-size: 2.4rem;
      font-weight: 300;
      color: #dedede;
      margin-bottom: 3.6rem;
    }
  }
}
.main-button{
  width: 16rem;
  height: 3.6rem;
  a{
    display: flex;
    text-decoration: none;
    width: 16rem;
    height: 3.6rem;
    color: #fff;
    background-color: $button;
    transition: 0.2s;
    &:hover{
      background-color: $hover;
    }
    p{
      margin: auto;
      padding: 0;
      text-transform: uppercase;
      font-family: $varela;
      font-size: 1.6rem;
    }
  }
}
.pauseline{
  height: 0.5rem;
  width: 10rem;
  background-color: $button;
}
#sec2-work-specify{
  width: 100%;
  min-height: 46rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  .sec-header{
    font-family: $way;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 8rem 0 4rem 0;
  }
  .offer-desc{
    font-family: $way;
    font-size: 2.4rem;
    font-weight: 300;
    color: #282828;
    margin: 4rem 0 4rem 0;
    max-width: 120rem;
  }
  .offer-box{
    display: flex;
    flex-direction: row;
    padding: 2rem 0 4rem 0;
    .ob-item{
      width: 32rem;
      height: 26rem;
      margin: 1rem;
      background-color: #fff;
      position: relative;
      display: flex;
      flex-direction: column;
      color: #000;
      text-decoration: none;
      box-sizing: border-box;
      padding: 3rem;
      div.underline{
          display: block;
          text-align: center;
          height: 0.3rem;
          width: 0;
          background-color: $hover;
          transition: 0.3s;
          margin-top: 0.7rem;
        }
      &:hover {
        div.underline{
          width: 100%;
        }
      }
        .ob-title{
          text-transform: uppercase;
          font-size: 2.2rem;
          font-family: $way;
          font-weight: 700;
          position: relative;


        }
        .ob-desc{
          font-size: 1.4rem;
          font-family: $varela;
          font-weight: 100;
          color: #282828;
          position: relative;
          margin: 1rem 0;
          display: flex;
          flex-wrap: wrap;
        }
        .ob-button{
          width: 12rem;
          height: 3.6rem;
          background-color: $button;
          position: absolute;
          left: 3rem;
          bottom: 3rem;
          display: flex;
          transition: 0.2s;
          &:hover{
            background-color: $hover;
          }
          a{
            margin: 0;
            width: 12rem;
            height: 3.6rem;
            position: relative;
            color: #fff;
            text-decoration: none;
            display: flex;
            p{
              margin: auto;
              text-transform: uppercase;
              font-family: $varela;
              font-size: 1.6rem;
            }
          }
        }
    }
  }
}
#sec3-about{
  width: 100%;
  height: 80rem;
  background-image: url('../images/manhattan.jpg');
  background-size: cover;
  .about-cover{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(238, 238, 238, 1), rgba(238, 238, 238, 0.8));
    background: -webkit-linear-gradient(rgba(238, 238, 238, 1), rgba(238, 238, 238, 0.8));
    background: -moz-linear-gradient(rgba(238, 238, 238, 1), rgba(238, 238, 238, 0.8));
    padding-top: 6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .about-box{
      width: 120rem;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      .about-cont{
        width: 70rem;
        height: 54rem;
        border: 2rem solid #fff;
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        .upper-title{
          font-family: $way;
          font-size: 2.4rem;
          font-weight: 300;
          color: #282828;
          margin: 4rem 0 0 4rem;
        }
        .upper-motto{
          font-family: $way;
          font-weight: 700;
          font-size: 4rem;
          text-transform: uppercase;
          margin: 1rem 0 0 4rem;
        }
        .about-desc{
          margin: 2.4rem 0 0 4rem;
          width: 60rem;
          font-size: 1.4rem;
          font-family: $varela;
          font-weight: 100;
          color: #282828;
          position: relative;
          display: flex;
          flex-wrap: wrap;
        }
      }
      .about-photo{
        width: 50rem;
        height: 62rem;
        background-image: url('../images/jonna.jpg');
        background-size: cover;
        background-position: center;
        margin-left: -4rem;
      }

    }
  }
}
