html{
  font-size: 62.5%;
}
body{
  @include zero;
  color: #000;

}
.main-sticky-nav {
  width: 100%;
  height: 9rem;
  background-color: $hover;
  z-index: 1000;
  top: -9rem;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  &.sticky {
    position: fixed;
  }
  &.open {
    top: 0;
    -webkit-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
    box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
  }
  .sticky-nav-eagle {
    position: absolute;
    left: 8rem;
    top: 1.4rem;
    width: 6rem;
    height: 6rem;
    background-image: url("../images/eagle-footer.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sticky-title {
    margin: 1.6rem 0 -1.5rem 15rem;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
  }
}
.main-ul{
  font-family: $varela;
  display: flex;
  flex-direction: row;
  margin: 0 0 0 6rem;
  // background-color: green;
  padding: 0;
  height: $nav;
  &.eagle {
    margin: 0 0 0 13rem;
  }
  li{
    height: $nav;
    display: flex;
    a{
      text-decoration: none;
      @include zero;
      color: #fff;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0 2rem 0 2rem;
      cursor: pointer;
      &:hover{
        div.underline{
          width: 100%;
        }
      }
      p{
        @include zero;
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-top: 2.9rem;
        font-weight: 500;

      }

    }
  }
}
#sec1-main-cont{
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-image: url('../images/main-background.jpg');
  background-size: cover;
  position: relative;
  .main-cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
  }
  nav{
    width: 100%;
    height: $nav;
    position: relative;
  }
  .title-cont{
    width: 46vw;
    height: 40rem;
    margin: 22vh 0 0 8rem;
    .top-title{
      font-family: $way;
      font-size: 9rem;
      text-transform: uppercase;
      font-weight: 800;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
    }
    .sub-title{
      font-family: $way;
      font-size: 3.6rem;
      font-weight: 300;
      color: #dedede;
      margin-bottom: 3.6rem;
    }
  }
}
.main-button{
  width: 24rem;
  height: 3.6rem;
  a{
    display: flex;
    text-decoration: none;
    width: 24rem;
    height: 3.6rem;
    color: #fff;
    //background-color: $hover;
    border: 0.1rem solid $hover;
    transition: 0.2s;
    &:hover{
      background-color: $hover;
    }
    p{
      margin: auto;
      padding: 0;
      text-transform: uppercase;
      font-family: $varela;
      font-size: 1.6rem;
      height: 1.6rem;
    }
  }
}
.pauseline{
  height: 0.5rem;
  width: 10rem;
  background-color: $hover;
  &.white {
    background-color: #fff;
  }
}
.sec-header{
  font-family: $way;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 8rem 0 4rem 0;
  &.white {
    color: #fff;
  }
}
.header-desc{
  font-family: $way;
  font-size: 2.4rem;
  font-weight: 300;
  color: #282828;
  margin: 4rem 0 4rem 0;
  max-width: 120rem;
  line-height: 2.6rem;
  text-align: center;
  &.white {
    color: #fff;
  }
  &.small {
    font-size: 1.5rem;
    sup{
      font-size: 2rem;
    }
  }
}
div.underline{
    display: block;
    text-align: center;
    height: 0.2rem;
    width: 0;
    background-color: #fff;
    transition: 0.3s;
    margin-top: 0.7rem;
}
.first-contact-box {
  min-width: 17rem;
  position: fixed;
  right: 9rem;
  bottom: 3rem;
  height: 7rem;
  z-index: 120;
  display: flex;
  flex-direction: row;

  .fc-coin{
    background-color: $hover;
    border-radius: 3.6rem;
    display: flex;
    -webkit-box-shadow: 0px 7px 6px -1px rgba(41,41,41,0.4);
    -moz-box-shadow: 0px 7px 6px -1px rgba(41,41,41,0.4);
    box-shadow: 0px 7px 6px -1px rgba(41,41,41,0.4);

  }
  #first-contact-phone{
    overflow: hidden;
    width: 7rem;
    height: 7rem;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    margin-right: 3rem;
    position: relative;
    cursor: pointer;
    display: none;
    .contact-phone-inner-box{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      width: 28rem;
      position: absolute;
      top: 0;
      right: 0;
      .contact-phone-number{
        margin: 0 2rem 0 0;
        font-family: $quick;
        color: #fff;
        font-weight: 500;
        font-size: 3.2rem;
      }
      img {
        margin-right: 1.6rem;
        width: 4rem;
        height: 4rem;
      }
    }
    &.hover-phone{
      width: 28rem;
    }
    &.display-flex{
      display: flex;
    }
  }
  .question-title {
    color: #fff;
    font-size: 3.6rem;
    font-family: $way;
    font-weight: 500;
    margin-top: 2.8rem;
  }
  .question-description {
    color: #fff;
    font-size: 2.3rem;
    font-family: $way;
    font-weight: 400;
    margin-top: 1.8rem;
    max-width: 84%;
    padding: 0 2.2rem;
    line-height: 3rem;
  }
  #first-contact-form{
    width: 7rem;
    height: 7rem;
    display: none;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    position: relative;
    cursor: pointer;
    img {
      margin: auto;
      width: 4rem;
      height: 4rem;
    }
    .first-contact-info{
      position: absolute;
      bottom: 10rem;
      right: 0;
      width: 28rem;
      height: 27rem;
      background-color: $hover;
      border-radius: 3.6rem 3.6rem 0.3rem 3.6rem;
      display: none;
      flex-direction: column;
      align-items: center;
      -webkit-box-shadow: 0px 7px 6px -1px rgba(41,41,41,0.4);
      -moz-box-shadow: 0px 7px 6px -1px rgba(41,41,41,0.4);
      box-shadow: 0px 7px 6px -1px rgba(41,41,41,0.4);
      &.display-flex{
        display: flex;
      }
      &.display-flex2{
        display: flex;
      }
      #first-contact-button {
        width: 23rem;
        height: 4rem;
        color: #fff;
        border: 1px solid #fff;
        margin-top: 2.3rem;
        display: flex;
        transition: 0.3s;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        p{
          margin: auto;
          font-size: 2.2rem;
          font-family: $varela;
          text-transform: uppercase;
          height: 2.2rem;
        }
        &:hover{
          background-color: #fff;
          p{
            color: $hover;
          }
        }
      }
    }
    &.hover-form{
      border-radius: 3.6rem 0.3rem 3.6rem 3.6rem;

    }
    &.hover-form2{
      border-radius: 3.6rem 0.3rem 3.6rem 3.6rem;

    }
    &.display-flex{
      display: flex;
    }
  }
}
.additional-layer-container{
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  flex-direction: row;
  justify-content: center;
  &.open {
    display: flex;
  }
}
#faq-layer {
  z-index: 101
}
.questions-cover {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.q-header {
  width: 100%;
  text-align: center;
  margin: 4rem 0 2rem 0;
  color: $hover;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
}
.q-subheader {
  width: 100%;
  text-align: center;
  color: $hover;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.questions-container {
  width: 90rem;
  min-height: 40rem;
  border-radius: 3.6rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 5rem 4rem 5rem;
  position: relative;

  .faq-single-question {
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: #282828;
    margin-bottom: 2rem;
    transition: 0.2s;
    cursor: pointer;
    line-height: 2.4rem;
    &:hover{
      color: $hover;
    }
  }
  .faq-answer-screen {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 70;
    display: none;
    background-color: #fff;
    border-radius: 3.6rem;
    box-sizing: border-box;
    padding: 0 5rem 4rem 5rem;
    &.open{
      display: block;
    }
    .faq-answer-cover {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      .question-close-button {
        border: 0.1rem solid $hover;
        height: 4rem;
        width: 20rem;
        margin: 2.5rem auto 0 auto;
        cursor: pointer;
        display: flex;
        transition: 0.2s;
        p {
          margin: auto;
          text-transform: uppercase;
          font-family: "Varela Round", sans-serif;
          font-size: 1.6rem;
          color: $hover;
        }
        &:hover {
          background-color: $hover;
          p {
            color: #fff;
          }
        }
      }
    }
  }
}
.faq-answer-question {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #282828;
  margin: 2rem 0 2rem 0;
}
.faq-answer-answer {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #000;
  line-height: 2.4rem;
}
#contact-form-layer {

  z-index: 100;

}
#main-contact-form{
  background-color: $hover;
  border-radius: 3.6rem;
}
#main-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 2.2rem;
  .form-title {
    color: #fff;
    font-family: $way;
    font-size: 4rem;
    font-weight: 500;
    margin: 0 0 3rem 0;
    width: 100%;
    text-align: center;
  }
  .main-form-input {
    width: 49.6rem;
    height: 4.8rem;
    margin-bottom: 1rem;
    font-family: $way;
    font-size: 2.7rem;
    font-weight: 400;
    line-height: 3rem;
    padding-left: 1rem;
    box-sizing: border-box;
    border: none;
    border-radius: 0.3rem;
  }
  label {
    text-align: left;
    font-family: $way;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 3rem;
  }
  .button-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 1.2rem;
  }
  #main-form-submit {
    height: 4.8rem;
    width: 24rem;
    font-family: $way;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    font-size: 2.3rem;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: #fff;
      color: $hover;
    }
  }
}
#main-question-textarea {
  resize: none;
  width: 49.6rem;
  height: 21rem;
  font-family: $way;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 3rem;
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.3rem;
}
.cf-layer-cover {
  width: 100%;
  height: 100%;
  display: flex;

  .contact-form{
    width: 54rem;
    height: 64rem;
    margin: auto;
    z-index: 120;
    background-color: #fff;
    position: relative;
    .close-form{
      color: #fff;
      position: absolute;
      top: 0;
      right: -5rem;
      font-size: 5rem;
      width: 4rem;
      height: 4rem;
      #close-x-container{
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        img{
          width: 4rem;
          height: 4rem;
          position: absolute;
          top: 0;
          right: 0;
          transition: 0.3s;
          &.close-white {
            z-index: 50;
            opacity: 1;
          }
          &.close-blue {
            z-index: 45;

          }
        }
        &:hover {

            .close-white {
              opacity: 0;
            }


        }
      }
    }
  }
}
.close-form{
  color: #fff;
  position: absolute;
  top: 0;
  right: -5rem;
  font-size: 5rem;
  width: 4rem;
  height: 4rem;
  #close-q-container{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    img{
      width: 4rem;
      height: 4rem;
      position: absolute;
      top: 0;
      right: 0;
      transition: 0.3s;
      &.close-white {
        z-index: 50;
        opacity: 1;
      }
      &.close-blue {
        z-index: 45;

      }
    }
    &:hover {

        .close-white {
          opacity: 0;
        }


    }
  }
}
@media screen and (max-width: 1360px) {
  #sec1-main-cont{
    .title-cont{
      margin-top: 15vh;
      .top-title{
        font-size: 8rem;
      }
      .sub-title{
        font-size: 3.2rem;
      }
    }
  }
}
.mobile-phone-banner {
  display: none;
  width: 100%;
  height: 6rem;
  background-color: $hover;
  .mpb-cont {
    margin: auto;
    display: flex;
    flex-direction: row;
    .mpb-img {
      img {
        width: 3.6rem;
        height: 3.6rem;
        margin: .4rem 1rem 0 0;
      }
    }
    .mpb-desc {

      p {
        font-family: $quick;
        font-size: 4rem;
        font-weight: 500;
        color: #fff;

      }
    }
  }
}
#sec2-work-specify-section{
  width: 100%;
  min-height: 46rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  padding-top: 7rem;
  .offer-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0 4rem 0;
    .ob-item{
      width: 32rem;
      min-height: 26rem;
      margin: 1rem;
      background-color: #fff;
      position: relative;
      display: flex;
      flex-direction: column;
      color: #000;
      text-decoration: none;
      box-sizing: border-box;
      padding: 3rem;
      -webkit-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
      -moz-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
      box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
      div.underline{
          display: block;
          text-align: center;
          height: 0.3rem;
          width: 0;
          background-color: $hover;
          transition: 0.3s;
          margin-top: 0.7rem;
        }
      &:hover {
        div.underline{
          width: 100%;
        }
      }
        .ob-title{
          text-transform: uppercase;
          font-size: 2.2rem;
          font-family: $way;
          font-weight: 700;
          position: relative;


        }
        .ob-desc{
          font-size: 1.6rem;
          font-family: $way;
          font-weight: 400;
          color: #000;
          position: relative;
          margin: 1rem 0 6rem 0;
          display: flex;
          flex-wrap: wrap;
          line-height: 2rem;
        }
        .ob-button{
          width: 12rem;
          height: 3.6rem;
          //background-color: $hover;
          background-color: #fff;
          border: 0.1rem solid $hover;
          position: absolute;
          left: 3rem;
          bottom: 3rem;
          display: flex;
          transition: 0.2s;
          &:hover{
            background-color: $hover;
            a{
              color: #fff;
            }
          }
          a{
            margin: 0;
            width: 12rem;
            height: 3.6rem;
            position: relative;
            color: $hover;
            text-decoration: none;
            display: flex;
            p{
              margin: auto;
              text-transform: uppercase;
              font-family: $varela;
              font-size: 1.6rem;
              height: 1.6rem;
            }
          }
        }
    }
  }
}
@media screen and (max-width: 1420px) {
  #sec2-work-specify-section .offer-box .ob-item {
    width: 28.5rem;
  }
}
#sec3-about-section{
  width: 100%;
  min-height: 84rem;
  background-image: url('../images/manhattan.jpg');
  background-size: cover;
  .about-cover{
    width: 100%;
    min-height: 84rem;
    background: linear-gradient(rgba(238, 238, 238, 1), rgba(238, 238, 238, 0.9));
    background: -webkit-linear-gradient(rgba(238, 238, 238, 1), rgba(238, 238, 238, 0.9));
    background: -moz-linear-gradient(rgba(238, 238, 238, 1), rgba(238, 238, 238, 0.9));
    padding-top: 6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .about-box{
      width: 120rem;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      .about-cont{
        width: 70rem;
        min-height: 50rem;
        border: 2rem solid #fff;
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        .upper-title{
          font-family: $way;
          font-size: 2.4rem;
          font-weight: 300;
          color: #282828;
          margin: 4rem 0 0 4rem;
        }
        .upper-motto{
          font-family: $way;
          font-weight: 700;
          font-size: 4rem;
          text-transform: uppercase;
          margin: 1rem 0 0 4rem;
        }
        .about-desc{
          margin: 2.4rem 0 0 4rem;
          width: 60rem;
          font-size: 1.6rem;
          font-family: $way;
          font-weight: 400;
          color: #000;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          line-height: 2rem;
        }
        .about-point{
          display: flex;
          flex-direction: row;
          margin: 2.4rem 0 0 4rem;
          .ap-img{
            color: $hover;
            .fa-diamond{
              font-size: 5rem;
            }
          }
          .ap-desc{
            display: flex;
            flex-direction: column;
            margin: 0 0 0 1.6rem;
            .ap-desc-title{
              text-transform: uppercase;
              font-size: 2.2rem;
              font-family: $way;
              font-weight: 700;
              position: relative;
              p{
                margin: 0;
                padding: 0;
              }
            }
            .ap-desc-content{
              font-size: 1.6rem;
              font-family: $way;
              font-weight: 400;
              color: #000;
              position: relative;
              margin: 1rem 0;
              display: flex;
              flex-wrap: wrap;
              width: 53rem;
              line-height: 2rem;
              p{
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
      .about-photo{
        width: 50rem;
        height: 62rem;
        background-image: url('../images/stamp.jpg');
        background-size: cover;
        background-position: top;
        margin-left: -4rem;
      }

    }
  }
}
#sec4-numbers{
  width: 100%;
  min-height: 20rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  -webkit-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
  -moz-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
  box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
  .number-cont{
    padding: 0;
    margin: 0 auto;
    height: 20rem;

    display: flex;
    flex-direction: row;
    .number-item{
      display: flex;
      height: 20rem;
      margin: 0;
      width: 30rem;
      border-right: 1px solid #e7e7e7;
      &:first-child{
        border-left: 1px solid #e7e7e7;
      }
      .item-inside{
        margin: 6rem 0 6rem 1.2rem;
        width: 30rem;
        padding-top: 0.4rem;
        display: flex;
        flex-direction: row;
        font-family: $way;
        color: #fff;
        .big-num{
          font-family: $way;
          font-size: 6rem;
          font-weight: 600;
          width: 8rem;
          text-align: center;
          color: $hover;
        }
        .inside-desc{
          display: flex;
          flex-direction: column;
          .inside-desc-title{
            text-transform: uppercase;
            font-size: 2.2rem;
            font-weight: 700;
            margin: 1.5rem 1rem 1rem 1rem;
            color: #000;
          }
          .inside-desc-sub{
            font-size: 1.4rem;
            font-family: $varela;
            font-weight: 100;
            color: #282828;
            margin: 0 1.2rem;
          }
        }
      }
    }
  }
}
#sec5-customers-section{
  width: 100%;
  min-height: 73rem;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 6rem;
  .questions-mobile-container{
    display: none;
    flex-direction: column;
    align-items: center;
    &.hidden {
      display: none;
    }
    .mobile-single-question {
      cursor: pointer;
      font-family: $way;
      font-size: 1.8rem;
      font-weight: 400;
      color: #282828;
      transition: 0.2s;
      width: 94%;
      line-height: 2.2rem;
      margin-bottom: 2rem;
      text-decoration: underline;
    }
  }
  .mobile-answer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &.hidden {
      display: none;
    }
    .return-to-q {
      cursor: pointer;
      font-size: 2rem;
      width: 12rem;
      height: 3.6rem;
      box-sizing: border-box;
      border: 1px solid $hover;
      display: flex;
      background-color: $hover;
      margin: 4rem 0;
      p {
        display: block;
        position: relative;
        margin: auto;
        text-transform: uppercase;
        font-family: $varela;
        font-size: 1.6rem;
        height: 1.6rem;
        color: #fff;
        &.back-button{
          text-decoration: none;
        }

      }
    }
    .mobile-answer-question {
      font-size: 2rem;
      font-family: $way;
      font-size: 2rem;
      font-weight: 400;
      color: #282828;
      width: 94%;
      line-height: 2.6rem;
      margin-bottom: 2.6rem;
    }
    .mobile-answer-answer {
      font-family: $way;
      font-size: 2rem;
      font-weight: 300;
      color: #000;
      line-height: 2.4rem;
      width: 94%;
    }
  }
  .customers-slider{
    height: 40rem;
    margin: 5rem 0 0 0;
    overflow: hidden;
    align-items: center;
    ul{
      position: relative;
      display: block;
      height: 40rem;
      li{
        width: 120rem;
        height: 40rem;
        float: left;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .quote-logo{
          .fa-quote-left{
            color: $hover;
            font-size: 5rem;
          }
          .question-icon{
            display: block;
            width: 6.4rem;
            height: 6.4rem;
          }
        }
        .quote-desc{
          font-family: $way;
          font-size: 2.4rem;
          font-weight: 500;
          color: #282828;
          margin: 3rem 0 1rem 0;
          max-width: 120rem;
          text-align: center;
          font-style: italic;
          line-height: 3rem;
          height: 6rem;
        }
        .quote-author{
          font-family: $way;
          font-size: 2.4rem;
          font-weight: 300;
          max-width: 120rem;
          height: 9.5rem;
          line-height: 3rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: flex;
          flex-wrap: wrap;
          box-sizing: border-box;
          padding: 0 1rem;
          &__read-more{
            height: 3rem;
            line-height: 3rem;
            align-self: flex-start;
          }
        }
        .faq-extention-buttons{
          display: flex;
          flex-direction: row;
          .ext-button{
            height: 3.6rem;
            box-sizing: border-box;
            border: 1px solid $hover;
            display: flex;
            transition: 0.2s;
            margin: 4rem 1rem 2rem 1rem;
            &:hover{
              background-color: $hover;
              a{
                color: #fff;
              }
              border: 1px solid $hover;
            }
            a{
              margin: 0;
              height: 3.6rem;
              position: relative;
              color: $hover;
              text-decoration: none;
              display: flex;
              padding: 0 1.2rem;
              cursor: pointer;
              p{
                display: block;
                position: relative;
                margin: auto;
                text-transform: uppercase;
                font-family: $varela;
                font-size: 1.6rem;
                height: 1.6rem;
              }
            }
          }
        }
      }
      // #slide1{
      //   background-color: yellow;
      // }
      // #slide2{
      //   background-color: black;
      // }
      // #slide3{
      //   background-color: red;
      // }
      // #slide4{
      //   background-color: violet;
      // }
    }

  }
  @media screen and (max-width: 1530px) {
    .customers-slider{
      ul{
        li{
          width: 97rem;
        }
      }
    }
  }
  .move-slider{
    width: 6.4rem;
    height: 6.4rem;
    box-sizing: border-box;
    border: 1px solid $hover;
    margin: 0 5rem;
    display: flex;
    .ps-arrow{
      color: $hover;
      font-size: 4rem;
      transition: 0.4s;
    }
    .fa-chevron-right{
      margin: auto 0 auto 1.9rem;
    }
    .fa-chevron-left{
      margin: auto 0 auto 1.5rem;
    }
    &:hover{
      cursor: pointer;
      background-color: $hover;
      .ps-arrow{
        color: #fff;
      }
    }
  }
  .customers-slider-box{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
#sec6-enterprises-section{
  width: 100%;
  min-height: 20rem;
  background-color: $hover;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logos-cont{
    display: flex;
    flex-direction: row;
    img{
      display: block;
      margin: 0 2.4rem;
    }
  }
}
.section-button {
  width: 27rem;
  height: 4rem;
  color: #fff;
  border: 1px solid #fff;
  margin:  0.6rem 0 8rem 0;
  display: flex;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  text-decoration: none;
  p{
    margin: auto;
    font-size: 1.6rem;
    font-family: $varela;
    text-transform: uppercase;
    height: 1.6rem;
  }
  &:hover{
    background-color: #fff;
    p{
      color: $hover;
    }
  }
}
#sec7-team-section{
  width: 100%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  overflow: hidden;
  .team-box{
    width: 120rem;
    min-height: 42rem;
    margin: 6rem 0;
    display: flex;
    flex-direction: row;
    position: relative;
    .tb-photo{
      width: 60rem;
      height: 42rem;
      background-color: #fff;
      position: relative;
      z-index: 10;
      background-position: bottom;
      background-size: cover;
      -webkit-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
      -moz-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
      box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
    }
    .tb-photo-left{
      background-image: url('../images/pexels-photo-323503.jpeg');
    }
    .tb-photo-right{
      background-image: url('../images/brooke-cagle-195777.jpg');

    }
    .tb-desc{
      width: 60rem;
      min-height: 42rem;
      box-sizing: border-box;
      padding-top: 6rem;
      .tbd-title{
        width: 50rem;
        font-family: $way;
        font-size: 2.8rem;
        font-weight: 600;
        color: #282828;
      }
      .tbd-content{
        font-family: $way;
        font-size: 1.8rem;
        font-weight: 300;
        color: #282828;
        margin: 2rem 0;
        line-height: 2.2rem;
      }
      .tbd-subcont{
        font-family: $way;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000;
        margin-bottom: 2rem;
      }
      .tbd-button{
        width: 12rem;
        height: 3.6rem;
        box-sizing: border-box;
        border: 1px solid $hover;
        display: flex;
        transition: 0.2s;
        &:hover{
          background-color: $hover;
          a{
            color: #fff;
          }
          border: 1px solid $hover;
        }
        a{
          margin: 0;
          width: 12rem;
          height: 3.6rem;
          position: relative;
          color: $hover;
          text-decoration: none;
          display: flex;
          p{
            display: block;
            position: relative;
            margin: auto;
            text-transform: uppercase;
            font-family: $varela;
            font-size: 1.6rem;
            height: 1.6rem;
          }
        }
      }
    }
    .tb-right{
      padding-left: 10rem;
    }
    .tb-left{
      padding-right: 10rem;
    }
    .tb-back{
      position: absolute;
      width: 10rem;
      height: 36rem;
      top: 3rem;
      background-color: $hover;
      z-index: 0;
    }
    .tb-back-left{
      left: -3rem;
    }
    .tb-back-right{
      right: -3rem;
    }
  }
}
#sec8-top-footer-section{
  width: 100%;
  min-height: 40rem;
  background-image: url('../images/clock-footer.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  .top-footer-cover{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(1,22,40,0.96);
    padding-bottom: 4rem;
  }
  .footer-title{
    display: flex;
    flex-direction: row;
    width: 120rem;
    margin: 6rem 0 2rem 0;
    .footer-title-logo{
      margin-right: 1rem;
      background-image: url('../images/eagle-footer.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 11rem;
      height: 11rem;
    }
    .footer-title-desc{

    }
    .footer-title-first{
      font-family: $quick;
      font-weight: 300;
      color: #fff;
      font-size: 2.8rem;
      text-transform: uppercase;
      margin: 0 0 1.2rem 0;
    }
  }
  .data-frame {
    width: 120rem;
		min-height: 30rem;
		display: flex;
		flex-direction: row;
		.data-col {
			width: 31rem;
      margin-right: 1.6rem;
			// min-height: 20rem;
      iframe{
        width: 24rem;
        height: 26rem;
        margin: 3rem 0 0 0;
      }
			.lc-title {
        font-family: $quick;
				text-transform: uppercase;
				color: #fff;
				font-size: 2rem;
				font-weight: 500;
				letter-spacing: -0.02rem;
				margin-top: 2.7rem;
				margin-bottom: 2.6rem;
			}
			.data-row {
				display: flex;
				flex-direction: row;
				margin-bottom: 1.2rem;
				.item-loc {
					height: 3.1rem;
					display: block;
					margin-right: 1.5rem;
          width: 2.3rem;
          margin-bottom: 1.6rem;
				}
				.item-iphone {
					display: block;
					margin-right: 1.6rem;
					margin-left: 0.2rem;
          margin-bottom: 1.6rem;
				}
				.item-email {
					display: block;
					margin: 0 1.3rem 0 0.2rem;
          margin-bottom: 1.6rem;
				}
        .item-calendar {
          width: 2.6rem;
          margin-right: 1.4rem;
          margin-bottom: 1.6rem;
        }
				.item-news {
					display: block;
					margin-right: 1.4rem;
				}
				.item-picture {
					display: block;
					margin-right: 1.4rem;
				}
				.item-media {
					display: block;
					margin-right: 1.8rem;
					margin-left: 0.4rem;
				}
				.item-twitter {
					display: block;
					margin-right: 1.7rem;
					height: 1.8rem;
				}
				.adres {
					display: flex;
					flex-direction: column;
				}
				.data-desc {
					font-family: $quick;
          font-weight: 300;
					font-size: 1.6rem;
					display: flex;
					flex-wrap: wrap;
          margin-bottom: 0.8rem;
          .margin-span{
            margin-right: 0.2rem;
          }
          .data-week {
            width: 15rem;
          }
          .data-week-last {
            width: 23rem;
            line-height: 2.5rem;
          }
					.data-span {
						line-height: 2.3rem;
						position: relative;
						bottom: 0.5rem;
						color: #fff;
						.hash {
							font-weight: bold;
							color: #fff;
						}
					}
          &.data-desc-account{
            font-size: 1.5rem;
            &.title{
              margin-top: 2rem;
            }
            &.info{
              margin-top: 2rem;
              width: 23rem;
              line-height: 2rem;
            }
          }
				}

				.data-adres {
					font-family: $quick;
          font-weight: 300;
					color: #fff;
					font-size: 1.6rem;
					margin-bottom: 0.8rem;
				}
			}
			.cent-l {
				color: white;
				display: flex;
				align-items: flex-start;
        flex-direction: row;
				margin-bottom: 2rem;
			}
			.cent {
				display: flex;
				align-items: flex-start;
				margin-bottom: 2rem;
				color: #fff;

			}
			.d-mid {
				margin: 0 2rem;
			}
		}
		.d-left {
			margin-right: 1.6rem;
		}
    .d-right{
      width: 24rem;
      margin-right: 0;
      margin-left: -2rem;
    }

	}
}
.data-break-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}
#sec9-bottom-footer{
  width: 100%;
  height: 6rem;
  background-color: #fff;
	@include centering;
	position: relative;
	.socials {
		position: relative;
		z-index: 70;
		display: flex;
		flex-direction: row;
		.s-item {
			width: 4rem;
			height: 4rem;
			background-color: #1a1b1a;
			border-radius: 50%;
			margin: 0.5rem;
			.footer-link {
				display: block;
				width: 4rem;
				height: 4rem;
				margin: 0;
				padding: 0;
				outline: none;
				text-decoration: none;
				border-radius: 50%;
				@include centering;
							}
		}
		.s-tweet {
			&:hover {
				background-color: $tweeter;
			}
		}
		.s-faceb {
			&:hover {
				background-color: $facebook;
			}
		}
		.s-pinter {
			&:hover {
				background-color: $pinterest;
			}
		}
		.s-gplus {
			&:hover {
				background-color: $gplus;
			}
		}
	}
	.copyrights {
    font-family: $varela;
		position: absolute;
		z-index: 100;
		margin: 0 0 1rem 0;
		left: 6rem;
		top: 2.6rem;
		font-size: 1.4rem;
		color: $footgrey;
		font-weight: 400;
	}
}
#sec1-prices-subsite-section {
  width: 100%;
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  padding-bottom: 8rem;
}
.price-article{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  &__blue{
    background-color: $hover;

  }

}
.section-subheader {
  text-transform: uppercase;
  font-family: $quick;
  font-size: 2.8rem;
  font-weight: 400;
  margin-top: 4rem;
  text-align: center;
  max-width: 94%;
  &.bottom-margin {
    margin-bottom: 4rem;
  }
  &.white {
    color: #fff;
  }
  &.top-margin {
    margin-top: 8rem;
  }
}
.header-desc.subheader {
  font-size: 2rem;
  text-align: center;
  &.white {
    color: #fff;
  }
  &.dark-header {
    background-color: #022139;
    color: #fff;
    border-radius: .7rem .7rem 0 0;
    padding: 1.2rem;
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 2.4rem;
  }
  &.section-margin-bottom {
    margin-bottom: 8rem;
  }
}
.prices-list {
  margin-bottom: 4rem;
  li {
    font-family: $way;
    font-size: 2rem;
    font-weight: 300;
    color: #282828;
    max-width: 120rem;
    line-height: 2.6rem;
    box-sizing: border-box;
    padding: 1.2rem 4rem;
    &:nth-child(odd) {
      background-color: #fff;
    }
    &:nth-child(even) {
      background-color: #c0e2eb;
    }
    b{
      font-weight: 500;
    }
    &:last-child{
      border-radius: 0 0 .7rem .7rem;
    }
  }
}
.prices-add-desc {
  font-family: $way;
  font-size: 2rem;
  font-weight: 300;
  color: #282828;
  max-width: 120rem;
  line-height: 3rem;
  margin-top: 4rem;
}
.price-tripple-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 120rem;
  .price-item {
    width: 30rem;
    min-height: 26rem;
    background-color: #fff;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
    box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
    border-radius: .7rem;
    overflow: hidden;
    .pi-header{
      width: 100%;
      height: 12rem;
      background-color: #022139;
      display: flex;
      .price-counter{
        margin: auto;
        color: #fff;
        font-family: $quick;
        font-size: 7rem;
        font-weight: 300;
        position: relative;
        .max{
          position: absolute;
          top: 0.4rem;
          left: -4.2rem;
          font-size: 1.8rem;
        }
        .pln{
          position: absolute;
          bottom: 0.7rem;
          right: -1.2rem;
          font-size: 1.8rem;
        }
      }
    }
    .price-item-title{
      text-transform: uppercase;
      font-family: $quick;
      font-size: 2.4rem;
      text-align: center;
      font-weight: 300;
      max-width: 90%;
      margin-top: 2.6rem;
    }
    .price-item-desc{
      text-align: center;
      max-width: 90%;
      font-family: $quick;
      margin: 2rem 0 0 0;
      font-size: 1.7rem;
      font-weight: 300;
    }
  }
}
.constant-prices-container {
  width: 120rem;
  min-height: 52rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  .const-name {
    margin: auto;
  }
  .const-col {
    width: 40rem;
    display: flex;
    flex-direction: column;
    .const-box {
      display: flex;
      background-color: #ffffff;
      transition: 0.3s;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: .7rem;
      position: relative;
      z-index: 10;
      &__blue {
        background-color: $hover;
        p{
          color: #fff;
        }
      }
      &__dark {
        background-color: #022139;
        p{
          color: #fff;
        }
      }
      &:hover {
        z-index: 50;
        -webkit-box-shadow: 0px 10px 18px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 18px -8px rgba(0,0,0,0.75);
box-shadow: 0px 10px 18px -8px rgba(0,0,0,0.75);
      }
      p{
        max-width: 90%;
        text-align: center;
        font-family: $quick;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.6rem;
        &.price{
          font-size: 3.2rem;
          margin-bottom: 0.6rem;
        }
      }
    }
    .lil-box{
      min-height: 11.74rem;
      width: 39rem;
      box-sizing: border-box;
      margin: 1rem 0 0 1rem;
      &:last-child{
        margin: 1rem 0 1rem 1rem;
      }
    }
    .mid-box{
      width: 39rem;
      min-height: 24.5rem;
      margin: 1rem 0 0 1rem;
    }
    .big-box{
      width: 38rem;
      min-height: 50rem;
      margin: 1rem;
    }
  }
}
.relative-prices-container {
  max-width: 120rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 6rem;
  justify-content: center;
  margin: 0 2rem;
  .rpc-item {
    position: relative;
    width: 28.4rem;
    height: 24rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 5rem;
    background-color: #fff;
    border-radius: .7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    -webkit-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
    -moz-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
    box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
    &:last-child {
      margin-right: 0;
    }
    .rpc-item-price {
      width: 24.2rem;
      height: 4.2rem;
      border-radius: .7rem;
      background-color: #022139;
      position: absolute;
      left: 2.1rem;
      top: 9.8rem;
      display: flex;
      p{
        margin: auto;
        font-family: $quick;
        font-size: 3.2rem;
        color: #fff;
        font-weight: 300;
      }

    }
    .rpc-borders{
      width: 100%;
      height: 12rem;
      background-color: $hover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p{
        font-family: $quick;
        font-weight: 300;
        font-size: 2.4rem;
        color: #fff;
        padding: .3rem;
        &.lower{
          border-bottom: 1px solid #fff;
        }
        &.upper{

        }
      }
    }
    .rpc-plus{
      margin-top: 3.2rem;
      font-family: $quick;
      font-size: 2rem;
      font-weight: 300;
      max-width: 90%;
      text-align: center;
    }
  }
}
.account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #022139;
  border-radius: .7rem;
  .account-image {
    display: flex;
    width: 10rem;
    height: 10rem;
    img {
      margin: auto;
      width: 6rem;
      height: 6rem;
    }
  }
  .account-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2rem;
    .account-number-desc {
      color: #fff;
      font-family: $quick;
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 3.6rem;
    }
  }
}
@media screen and (max-width: 1280px) {
  .header-desc {
    max-width: 94%;
  }
  .questions-container {
    margin-top: 5rem;
  }
  #sec1-prices-subsite-section {
    .prices-list {

      li {
        max-width: 94%;
        margin: 0 auto;
      }
    }
  }
  #sec2-work-specify-section {
    .offer-box {
      .ob-item {
        padding: 2rem;
        width: 27rem;
        .ob-button{
          left: 2rem;
          bottom: 2rem;
        }
      }
    }
  }
  #sec3-about-section {
    .about-cover {
      .about-box {
        width: 102rem;
        .about-photo {
          height: 50rem;
          width: 32rem;
        }
      }
    }
  }
  #sec5-customers-section {
    .customers-slider {
      ul{
        li{
          width: 80rem;
          .quote-desc {
            height: 9rem;
          }
        }
      }
    }
  }
  #sec7-team-section {
    .team-box{
      width: 102rem;
      .tb-photo{
        width: 42rem;
      }
    }
  }
  #sec8-top-footer-section {
    .top-footer-cover{
      padding-bottom: 0;
    }
    .footer-title {
      width: 94%;
    }
    .data-frame {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      .data-break-row{
        width: 94%;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 16rem;
      }
      .d-right {
        width: 100%;
        margin-bottom: -2px;
        margin-left: 0;
        iframe {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 1220px) {
  #sec2-work-specify-section {
    .offer-box{
      width: 107rem;
      .ob-item {
        width: 47%;
        padding: 2rem;
        min-height: 22rem;
      }
    }


  }
  #sec4-numbers {
    .number-cont {
      flex-wrap: wrap;
      justify-content: center;
      .number-item {
        width: 50%;
        height: 50%;
        border: none;
        display: flex;
        .item-inside {
          margin: 1rem auto;
        }
        &:first-child {
          border: none;
        }
      }
    }
  }
}
@media screen and (max-width: 1210px) {
  #sec1-main-cont {
    .title-cont {
      width: 60vw;
      .top-title {
        font-size: 7rem;
      }
    }
  }
  .header-desc.small {
    margin: 1rem 0;
  }
  .constant-prices-container {
    width: 90rem;
    padding-right: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    .const-col {
      width: 44rem;
      &.col3 {
        width: 88rem;
      }
      .lil-box {
        width: 43rem;
      }
      .mid-box {
        width: 43rem;
      }
      .big-box {
        width: 87rem;
        margin-top: 0;
        min-height: 24.5rem;
      }
    }
  }
  .relative-prices-container {
    .rpc-item {
      margin-bottom: 2rem;
    }
  }
  .price-tripple-items {
    .price-item {
      margin: 0 0.5rem;
      min-height: 16rem;
      width: 28rem;
      .pi-header {
        height: 8rem;
      }
      .price-item-title {
        font-size: 2rem;
        margin-top: 1rem;
      }
      .price-item-desc {
        margin: 0.4rem 0 0 0;
        font-size: 1.6rem;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  #sec8-top-footer-section {
    .data-frame {
      .data-break-row{
        padding-left: 0;
      }
    }
  }
}
@media screen and (max-width: 1140px) {
  #sec7-team-section {
    .team-box{
      width: 82rem;
      .tb-desc{
        width: 40rem;
      }
      .tb-photo{
        width: 42rem;
      }
      .tb-right{
        padding-top: 5rem;
        padding-left: 5rem;
      }
      .tb-left{
        padding-top: 5rem;
        padding-right: 5rem;
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .price-article {
    .price-tripple-items {
      flex-wrap: wrap;
      .price-item {
        width: 28rem;
        margin: 0 1rem;
        align-items: center;
        .price-item-title {
          margin-top: 1rem;
        }
      }
    }
  }
  #sec2-work-specify-section {
    .offer-box{
      width: 98rem;
    }
  }
  #sec3-about-section {
    .about-cover {
      padding-top: 0;
      .about-box {
        width: 94rem;
        .about-photo {
          height: 39rem;
          width: 24rem;
        }
      }
    }
  }
  #sec5-customers-section {
    .questions-mobile-container {
      display: flex;
    }
    .customers-slider-box {
      display: none;
    }
  }
}
@media screen and (max-width: 1060px) {
  #sec8-top-footer-section {
    .data-frame {
      .data-break-row{
        max-width: 660px;
      }
    }
  }
}
@media screen and (max-width: 980px) {
  .header-desc {
    text-align: center;
    line-height: 2.4rem;
    font-size: 2rem;
  }
  p.sec-header{
    text-align: center;
    width: 94%;
  }
  #sec1-main-cont {
    .title-cont {
      margin-top: 12vh;
    }
  }
  #sec2-work-specify-section {
    padding-top: 2rem;
    .offer-box{
      width: 77rem;
    }
  }
  #sec3-about-section {
    .about-cover {
      padding-top: 0;
      .about-box {
        width: 100%;
        justify-content: center;
        .about-photo {
          display: none;
        }
      }
    }
  }
  #sec7-team-section {

    .team-box {
      flex-direction: column;
      align-items: center;
      width: 60rem;
      min-height: 72rem;
      margin: 6rem 0 0 0;
      .tb-desc {
        width: 100%;
        min-height: 36rem;
      }
      .tb-left, .tb-right {
        padding-right: 0;
        padding-left: 0;
      }
      .tb-photo {
        width: 60rem;
        display: flex;
        flex-shrink: 0;
      }
      &.reverse {
        flex-direction: column-reverse;
        margin: 6rem 0;
      }
    }
  }
  .relative-prices-container {
    padding-top: 1rem;
    .rpc-item {
      height: 18rem;
      .rpc-item-price {
        height: 3.6rem;
        top: 7.2rem;
        p {
          font-size: 2.4rem;
        }
      }
      .rpc-borders {
        height: 8rem;
        padding-bottom: 1rem;
      }
    }
  }
}
@media screen and (max-width: 921px) {
  .price-article {
    .price-tripple-items {
      max-width: 60rem;
      .price-item {
        margin: 1rem;
      }
    }
  }
  .constant-prices-container {
    flex-direction: column;
    width: 60rem;
    padding-right: 0;
    .const-col {
      width: 100%;
      box-sizing: border-box;
      padding-right: 1rem;
      .mid-box:first-child {
        margin-top: 0;
      }
      &.col3 {
        width: 58rem;
        margin-top: 1rem;
      }
      .lil-box {
        width: 58rem;
      }
      .mid-box {
        width: 58rem;
        min-height: 18rem;
      }
      .big-box {
        width: 58rem;
        margin-top: 0;
        min-height: 24.5rem;
      }
    }
  }
}
@media screen and (max-width: 860px) {
  .main-ul {
    margin: 0 0 0 1.4rem;
  }
  .first-contact-box {
    right: 3rem;
  }
  #sec1-main-cont {
    .title-cont {
      width: 70vw;
      margin: 16vh 0 0 3rem;
      .top-title {
        font-size: 7rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .mobile-phone-banner {
    display: flex;
  }
  .first-contact-box {
    display: none;
  }
  #sec1-main-cont {
    .title-cont {
      width: 100%;
      margin: 16vh 0 0 3rem;
      .top-title {
        font-size: 7rem;
      }
    }
  }
  #sec2-work-specify-section{
    .offer-box {
      width: 98.5%;
      .ob-item {
        width: 46%;
      }
    }
  }
  #sec3-about-section {
    .about-cover {
      .about-box {
        .about-cont {
          width: 90%;
          .upper-title {
            margin: 4rem 2rem 0 2rem;
          }
          .upper-motto {
            margin: 1rem 2rem 0 2rem;
          }
          .about-desc {
            margin: 0;
            width: 100%;
            box-sizing: border-box;
            padding: 2rem 2rem 0 2rem;
          }
          .about-point {
            margin: 2.4rem 2rem 0 2rem;
            .ap-desc {
              .ap-desc-content {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  #sec4-numbers {
    .number-cont {
      height: 32rem;
      margin-bottom: 2rem;
      .number-item {
        width: 100%;
        height: 25%;
        border: none;
        display: flex;
        .item-inside {
          margin: 1rem auto;
          width: 28rem;
        }
        &:first-child {
          border: none;
        }
      }
    }
  }
  #sec8-top-footer-section {
    .footer-title{
      .footer-title-logo{
        width: 8rem;
        height: 8rem;
      }
    }
    .data-frame {
      .data-break-row {
        flex-direction: column;
        align-items: center;
        .data-col {
          margin-right: 0;
        }
      }
    }
  }
  #sec9-bottom-footer p.copyrights {
    left: 1rem;
  }
  .price-article {
    padding: 0;
  }
  .header-desc.subheader.section-margin-bottom {
    margin-bottom: 4rem;
  }
  .section-subheader.top-margin {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 720px) {
  #sec7-team-section {
    .team-box {
      width: 42rem;
      min-height: 75rem;
      .tb-photo {
        width: 42rem;
      }
    }
  }
}
@media screen and (max-width: 670px) {
  .account-container {
    flex-direction: column;
    .account-number {
      padding: 0 2rem 2rem 2rem;
    }
  }
}
@media screen and (max-width: 620px) {
  .price-article {
    .price-tripple-items {
      max-width: 30rem;
    }
  }
  .constant-prices-container {
    width: 100%;
    align-items: center;
    .const-col {
      padding: 0;
      width: 100%;
      align-items: center;
      &.col3 {
        width: 100%;
      }
      .lil-box {
        margin: 1rem 0 0 0;
        width: 94%;
        &:last-child{
          margin: 1rem 0;
        }
      }
      .mid-box {
        margin: 1rem 0 0 0;
        width: 94%;
      }
      .big-box {
        margin: 0;
        width: 94%;
      }
    }
  }
  #sec1-main-cont {
    .title-cont {
      width: 70vw;
      margin: 16vh 0 0 3rem;
      .top-title {
        font-size: 6rem;
      }
      .sub-title {
        font-size: 2.6rem;
      }
    }
  }
}
@media screen and (max-width: 580px) {
  #sec2-work-specify-section{
    .offer-box {
      .ob-item {
        min-height: 1rem;
        width: 94%;
        margin: 2rem 0 0 0;
        align-items: center;
        .ob-title {
          text-align: center;
        }
        .ob-desc {
          text-align: center;
          margin: 1rem 0 2rem 0;
        }
        .ob-button {
          position: relative;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
  .account-container {
    .account-number-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
@media screen and (max-width: 560px) {
  #sec1-main-cont {
    .title-cont {
      margin: 10vh 0 0 3rem;
      .top-title {
        font-size: 6rem;
      }
      .sub-title {
        font-size: 2.6rem;
      }
    }
  }
  #sec3-about-section {
    .about-cover {
      .about-box {
        .about-cont {
          border: 1rem solid #fff;
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  #sec3-about-section {
    .about-cover {
      .about-box {
        .about-cont {
          border: none;
          width: 100%;
        }
      }
    }
  }
  #sec7-team-section {
    .team-box {
      width: 94%;
      .tb-photo {
        width: 100%;
      }
      .tb-desc {
        .tbd-title {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  #sec8-top-footer-section {
    .footer-title {
      .footer-title-first {
        font-size: 2rem;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  #sec1-main-cont {
    .title-cont {
      margin: 5vh 0 0 3rem;
      .top-title {
        font-size: 4.2rem;
      }
      .sub-title {
        font-size: 2.2rem;
      }
    }
  }
  #sec1-prices-subsite-section {
    padding-bottom: 6rem;
  }
  .account-container {
    .account-image {
      img {
        width: 5.2rem;
        height: 5.2rem;
      }
    }
    .account-number {
      .account-number-desc {
        font-size: 1.6rem;
        line-height: 2.2rem;
      }
    }
  }
  #sec8-top-footer-section .data-frame .data-col {
    margin-right: 0;
  }
}
@media screen and (max-width: 400px) {
  #sec3-about-section {
    .about-cover {
      .about-box {
        .about-cont {
          border: none;
          width: 100%;
          .about-point {
            flex-direction: column;
            .ap-desc {
              margin: 0;
            }
            .ap-img {
              margin-bottom: 2rem;
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 350px) {
  #sec1-main-cont {
    .title-cont {
      margin: 5vh 0 0 3rem;
      .top-title {
        font-size: 3.6rem;
      }
      .sub-title {
        font-size: 2rem;
      }
    }
  }
}
@media screen and (max-width: 340px) {
  #sec8-top-footer-section {
    .data-frame {
      .data-break-row {
        .data-col {
          width: 100%;
          .lc-title {
            text-align: center;
          }
          .data-row {
            flex-direction: column;
            img {
              margin-left: auto;
              margin-right: auto;
            }
            .adres {
              width: 100%;
            }
            .data-adres, .data-desc {
              text-align: center;
              justify-content: center;
              width: 100%;
            }
            .email-cont, .days-of-week{
              width: 100%;
              text-align: center;
            }
            .bank-accounts{
              width: 100%;
            }
            .data-desc.data-desc-account.info{
              width: 100%;
            }
            .data-desc{
              .data-week{
                width: 12rem;
              }
            }
          }
        }
      }
    }
  }
}
