html{
  font-size: 62.5%;
}
body{
  @include zero;
  color: #000;

}
#sec1-main-cont{
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-image: url('../images/notes2.jpg');
  background-size: cover;
  position: relative;
  .main-cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
  }
  nav{
    width: 100%;
    height: $nav;
    position: relative;
    .main-ul{
      font-family: $varela;
      display: flex;
      flex-direction: row;
      margin: 0 0 0 6rem;
      // background-color: green;
      padding: 0;
      height: $nav;
      li{
        height: $nav;
        display: flex;
        a{
          text-decoration: none;
          @include zero;
          color: #fff;
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 0 2rem 0 2rem;
          &:hover{
            div.underline{
              width: 100%;
            }
          }
          p{
            @include zero;
            font-size: 1.4rem;
            text-transform: uppercase;
            margin-top: 2.9rem;
            font-weight: 500;

          }

        }
      }
    }
  }
  .title-cont{
    width: 46vw;
    height: 40rem;
    margin: 22vh 0 0 8rem;
    .top-title{
      font-family: $way;
      font-size: 9rem;
      text-transform: uppercase;
      font-weight: 800;
      color: #fff;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
    }
    .sub-title{
      font-family: $way;
      font-size: 2.4rem;
      font-weight: 300;
      color: #dedede;
      margin-bottom: 3.6rem;
    }
  }
}
.main-button{
  width: 16rem;
  height: 3.6rem;
  a{
    display: flex;
    text-decoration: none;
    width: 16rem;
    height: 3.6rem;
    color: #fff;
    background-color: $button;
    transition: 0.2s;
    &:hover{
      background-color: $hover;
    }
    p{
      margin: auto;
      padding: 0;
      text-transform: uppercase;
      font-family: $varela;
      font-size: 1.6rem;
    }
  }
}
.pauseline{
  height: 0.5rem;
  width: 10rem;
  background-color: $button;
}
.sec-header{
  font-family: $way;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 8rem 0 4rem 0;
}
.header-desc{
  font-family: $way;
  font-size: 2.4rem;
  font-weight: 300;
  color: #282828;
  margin: 4rem 0 4rem 0;
  max-width: 120rem;
}
div.underline{
    display: block;
    text-align: center;
    height: 0.2rem;
    width: 0;
    background-color: #fff;
    transition: 0.3s;
    margin-top: 0.7rem;
}
#sec2-work-specify{
  width: 100%;
  min-height: 46rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  .offer-box{
    display: flex;
    flex-direction: row;
    padding: 2rem 0 4rem 0;
    .ob-item{
      width: 32rem;
      height: 26rem;
      margin: 1rem;
      background-color: #fff;
      position: relative;
      display: flex;
      flex-direction: column;
      color: #000;
      text-decoration: none;
      box-sizing: border-box;
      padding: 3rem;
      -webkit-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
      -moz-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
      box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
      div.underline{
          display: block;
          text-align: center;
          height: 0.3rem;
          width: 0;
          background-color: $hover;
          transition: 0.3s;
          margin-top: 0.7rem;
        }
      &:hover {
        div.underline{
          width: 100%;
        }
      }
        .ob-title{
          text-transform: uppercase;
          font-size: 2.2rem;
          font-family: $way;
          font-weight: 700;
          position: relative;


        }
        .ob-desc{
          font-size: 1.4rem;
          font-family: $varela;
          font-weight: 100;
          color: #282828;
          position: relative;
          margin: 1rem 0;
          display: flex;
          flex-wrap: wrap;
        }
        .ob-button{
          width: 12rem;
          height: 3.6rem;
          background-color: $button;
          position: absolute;
          left: 3rem;
          bottom: 3rem;
          display: flex;
          transition: 0.2s;
          &:hover{
            background-color: $hover;
          }
          a{
            margin: 0;
            width: 12rem;
            height: 3.6rem;
            position: relative;
            color: #fff;
            text-decoration: none;
            display: flex;
            p{
              margin: auto;
              text-transform: uppercase;
              font-family: $varela;
              font-size: 1.6rem;
            }
          }
        }
    }
  }
}
#sec3-about{
  width: 100%;
  height: 80rem;
  background-image: url('../images/manhattan.jpg');
  background-size: cover;
  .about-cover{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(238, 238, 238, 1), rgba(238, 238, 238, 0.8));
    background: -webkit-linear-gradient(rgba(238, 238, 238, 1), rgba(238, 238, 238, 0.8));
    background: -moz-linear-gradient(rgba(238, 238, 238, 1), rgba(238, 238, 238, 0.8));
    padding-top: 6rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .about-box{
      width: 120rem;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      .about-cont{
        width: 70rem;
        height: 54rem;
        border: 2rem solid #fff;
        position: relative;
        z-index: 100;
        display: flex;
        flex-direction: column;
        .upper-title{
          font-family: $way;
          font-size: 2.4rem;
          font-weight: 300;
          color: #282828;
          margin: 4rem 0 0 4rem;
        }
        .upper-motto{
          font-family: $way;
          font-weight: 700;
          font-size: 4rem;
          text-transform: uppercase;
          margin: 1rem 0 0 4rem;
        }
        .about-desc{
          margin: 2.4rem 0 0 4rem;
          width: 60rem;
          font-size: 1.4rem;
          font-family: $varela;
          font-weight: 100;
          color: #282828;
          position: relative;
          display: flex;
          flex-wrap: wrap;
        }
        .about-point{
          display: flex;
          flex-direction: row;
          margin: 2.4rem 0 0 4rem;
          .ap-img{
            color: $hover;
            .fa-diamond{
              font-size: 5rem;
            }
          }
          .ap-desc{
            display: flex;
            flex-direction: column;
            margin: 0 0 0 1.6rem;
            .ap-desc-title{
              text-transform: uppercase;
              font-size: 2.2rem;
              font-family: $way;
              font-weight: 700;
              position: relative;
              p{
                margin: 0;
                padding: 0;
              }
            }
            .ap-desc-content{
              font-size: 1.4rem;
              font-family: $varela;
              font-weight: 100;
              color: #282828;
              position: relative;
              margin: 1rem 0;
              display: flex;
              flex-wrap: wrap;
              width: 53rem;
              p{
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
      .about-photo{
        width: 50rem;
        height: 62rem;
        background-image: url('../images/jonna.jpg');
        background-size: cover;
        background-position: center;
        margin-left: -4rem;
      }

    }
  }
}
#sec4-numbers{
  width: 100%;
  height: 20rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  position: relative;
  -webkit-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
  -moz-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
  box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
  .number-cont{
    padding: 0;
    margin: 0 auto;
    height: 20rem;

    display: flex;
    flex-direction: row;
    .number-item{
      display: flex;
      height: 20rem;
      margin: 0;
      width: 30rem;
      border-right: 1px solid #e7e7e7;
      &:first-child{
        border-left: 1px solid #e7e7e7;
      }
      .item-inside{
        margin: 6rem 0 6rem 1.2rem;
        width: 30rem;
        padding-top: 0.4rem;
        display: flex;
        flex-direction: row;
        font-family: $way;
        color: #fff;
        .big-num{
          font-family: $way;
          font-size: 6rem;
          font-weight: 600;
          width: 8rem;
          text-align: center;
          color: $hover;
        }
        .inside-desc{
          display: flex;
          flex-direction: column;
          .inside-desc-title{
            text-transform: uppercase;
            font-size: 2.2rem;
            font-weight: 700;
            margin: 1.5rem 1rem 1rem 1rem;
            color: #000;
          }
          .inside-desc-sub{
            font-size: 1.4rem;
            font-family: $varela;
            font-weight: 100;
            color: #282828;
            margin: 0 1.2rem;
          }
        }
      }
    }
  }
}
#sec5-customers{
  width: 100%;
  min-height: 73rem;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  .customers-slider{
    height: 40rem;
    margin: 5rem 0 0 0;
    overflow: hidden;
    align-items: center;
    ul{
      position: relative;
      display: block;
      height: 40rem;
      li{
        display: block;
        width: 120rem;
        height: 40rem;
        float: left;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .quote-logo{
          .fa-quote-left{
            color: $hover;
            font-size: 5rem;
          }
        }
        .quote-desc{
          font-family: $way;
          font-size: 2rem;
          font-weight: 300;
          color: #282828;
          margin: 4rem 0 4rem 0;
          max-width: 120rem;
          text-align: center;
          font-style: italic;
          line-height: 2.4rem;
        }
        .quote-author{
          font-family: $way;
          font-size: 2.8rem;
          font-weight: 600;
        }
        .quote-author-enterprise{
          font-family: $way;
          color: #282828;
          font-size: 2rem;
          font-weight: 300;
          margin: 1rem 0 0 0;
        }
      }
      // #slide1{
      //   background-color: yellow;
      // }
      // #slide2{
      //   background-color: black;
      // }
      // #slide3{
      //   background-color: red;
      // }
      // #slide4{
      //   background-color: violet;
      // }
    }

  }
  .move-slider{
    width: 6.4rem;
    height: 6.4rem;
    background-color: #fff;
    margin: 0 5rem;
    display: flex;
    .ps-arrow{
      color: $hover;
      font-size: 4rem;
      transition: 0.4s;
    }
    .fa-chevron-right{
      margin: auto 0 auto 1.9rem;
    }
    .fa-chevron-left{
      margin: auto 0 auto 1.5rem;
    }
    &:hover{
      cursor: pointer;
      background-color: $hover;
      .ps-arrow{
        color: #fff;
      }
    }
  }
  .customers-slider-box{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
#sec6-enterprises{
  width: 100%;
  height: 20rem;
  background-color: $hover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .logos-cont{
    display: flex;
    flex-direction: row;
    img{
      display: block;
      margin: 0 2.4rem;
    }
  }
}
#sec7-team{
  width: 100%;
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  .team-box{
    width: 120rem;
    height: 42rem;
    margin: 6rem 0;
    display: flex;
    flex-direction: row;
    position: relative;
    .tb-photo{
      width: 60rem;
      height: 42rem;
      background-color: #fff;
      position: relative;
      z-index: 10;
      background-position: bottom;
      background-size: cover;
      -webkit-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
      -moz-box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
      box-shadow: 1px 12px 15px -11px rgba(0,0,0,0.51);
    }
    .tb-photo-left{
      background-image: url('../images/pexels-photo-323503.jpeg');
    }
    .tb-photo-right{
      background-image: url('../images/brooke-cagle-195777.jpg');

    }
    .tb-desc{
      width: 60rem;
      height: 42rem;
      box-sizing: border-box;
      padding-top: 6rem;
      .tbd-title{
        width: 50rem;
        font-family: $way;
        font-size: 2.8rem;
        font-weight: 600;
        color: #282828;
      }
      .tbd-content{
        font-family: $way;
        font-size: 1.8rem;
        font-weight: 300;
        color: #282828;
        margin: 2rem 0;
      }
      .tbd-subcont{
        font-family: $way;
        font-size: 1.4rem;
        font-weight: 400;
        color: #000;
        margin-bottom: 2rem;
      }
      .tbd-button{
        width: 12rem;
        height: 3.6rem;
        box-sizing: border-box;
        border: 1px solid $button;
        display: flex;
        transition: 0.2s;
        &:hover{
          background-color: $hover;
          a{
            color: #fff;
          }
          border: 1px solid $hover;
        }
        a{
          margin: 0;
          width: 12rem;
          height: 3.6rem;
          position: relative;
          color: $button;
          text-decoration: none;
          display: flex;
          p{
            display: block;
            position: relative;
            margin: auto;
            text-transform: uppercase;
            font-family: $varela;
            font-size: 1.6rem;
          }
        }
      }
    }
    .tb-right{
      padding-left: 10rem;
    }
    .tb-left{
      padding-right: 10rem;
    }
    .tb-back{
      position: absolute;
      width: 10rem;
      height: 36rem;
      top: 3rem;
      background-color: $hover;
      z-index: 0;
    }
    .tb-back-left{
      left: -3rem;
    }
    .tb-back-right{
      right: -3rem;
    }
  }
}
#sec8-top-footer{
  width: 100%;
  height: 40rem;
  background-color: #1a1b1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .data-frame {
		min-width: 30rem;
		min-height: 30rem;
		display: flex;
		flex-direction: row;
		.data-col {
			width: 30rem;
			// min-height: 20rem;
      iframe{
        width: 50rem;
        height: 24rem;
        margin: 3rem 0 0 10rem;
      }
			.lc-title {
        font-family: $way;
				text-transform: uppercase;
				color: #fff;
				font-size: 1.8rem;
				font-weight: 600;
				letter-spacing: -0.02rem;
				margin-top: 2.7rem;
				margin-bottom: 2.6rem;
			}
			.data-row {
				display: flex;
				flex-direction: row;
				margin-bottom: 0.7rem;
				.item-loc {
					height: 3.1rem;
					display: block;
					margin-right: 1.5rem;
				}
				.item-iphone {
					display: block;
					margin-right: 1.6rem;
					margin-left: 0.2rem
				}
				.item-email {
					display: block;
					margin-right: 1.5rem;
				}
				.item-news {
					display: block;
					margin-right: 1.4rem;
				}
				.item-picture {
					display: block;
					margin-right: 1.4rem;
				}
				.item-media {
					display: block;
					margin-right: 1.8rem;
					margin-left: 0.4rem;
				}
				.item-twitter {
					display: block;
					margin-right: 1.7rem;
					height: 1.8rem;
				}
				.adres {
					display: flex;
					flex-direction: column;
				}
				.data-desc {
					font-family: $varela;
					font-size: 1.6rem;
					display: flex;
					flex-wrap: wrap;
					.data-span {
						line-height: 2.3rem;
						position: relative;
						bottom: 0.5rem;
						color: #fff;
						&:hover {
							color: green;
							cursor: pointer;
						}
						.hash {
							font-weight: bold;
							color: #fff;
						}
					}
				}

				.data-adres {
					font-family: $varela;
					color: #fff;
					font-size: 1.6rem;
					margin-bottom: 0.8rem;
				}
			}
			.cent-l {
				color: white;
				display: flex;
				align-items: center;
				margin-bottom: 2rem;
			}
			.cent {
				display: flex;
				align-items: center;
				margin-bottom: 2rem;
				color: #fff;
				&:hover {
					cursor: pointer;
					color: green;
				}
			}
			.d-mid {
				margin: 0 2rem;
			}
		}
		.d-left {
			margin-right: 1.6rem;
		}
    .d-right{
      width: 50rem;
      margin-right: 6rem;
    }

	}
}
#sec9-bottom-footer{
  width: 100%;
  height: 12.8rem;
  background-color: $hover;
	@include centering;
	position: relative;
	.socials {
		position: relative;
		z-index: 70;
		display: flex;
		flex-direction: row;
		.s-item {
			width: 4rem;
			height: 4rem;
			background-color: #1a1b1a;
			border-radius: 50%;
			margin: 0.5rem;
			.footer-link {
				display: block;
				width: 4rem;
				height: 4rem;
				margin: 0;
				padding: 0;
				outline: none;
				text-decoration: none;
				border-radius: 50%;
				@include centering;
							}
		}
		.s-tweet {
			&:hover {
				background-color: $tweeter;
			}
		}
		.s-faceb {
			&:hover {
				background-color: $facebook;
			}
		}
		.s-pinter {
			&:hover {
				background-color: $pinterest;
			}
		}
		.s-gplus {
			&:hover {
				background-color: $gplus;
			}
		}
	}
	.copyrights {
    font-family: $varela;
		position: absolute;
		z-index: 100;
		margin: 0 0 1rem 0;
		left: 6rem;
		top: 6rem;
		font-size: 1.4rem;
		color: $footgrey;
		font-weight: 400;
	}
}
