//fonts
$way: 'Raleway', sans-serif;
$varela: 'Varela Round', sans-serif;
$quick: 'Quicksand', sans-serif;
//sizes
$nav: 7rem;

//colors
$button: #044D9B;
$footer: #011627;
$hover: #22AED1;
$gplus: #da2713;
$pinterest: #cb2028;
$facebook: #3b5998;
$tweeter: #00aced;
$footgrey: #555555;
